// variables.scss

// Couleurs
$azalea: #f3b3c3;
$mandy: #e0456a;
$mercury: #e9e9e9;
$deep-blush: #e1869e;
$swiss-coffee: #d5cdcf;
$powder-ash: #c3d1cb;
$contessa: #c97484;
$classic-rose: #fbd3e4;
$petite-orchid: #da949c;